
    function getDay(index){
        var dayList = ["星期一", "星期二", "星期三", "星期四", "星期五", "星期六", "星期日"];
        return dayList[parseInt(index)];
    }
    function getStyle(str){
        if("string" != typeof str)return '';
        
        if(-1 != str.indexOf('～'))
            return "red;";
        else if((-1 != str.indexOf('第') || 1 != str.indexOf('-')) && -1 != str.indexOf('周'))
            return 'blue;';
        return '';
    }
    module.exports = {
        getDay: getDay,
        getStyle: getStyle
    }
